<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title> Inspirit Vision-Certifications</title>
    <script>
      $(function() {
        $("#nameInput").on('input', function() {
          var inputVal = $(this).val();
          $.get("/searchNames?name=" + inputVal, function(data) {
            var select = $('select[name="name"]');
            select.empty();
            select.append($('<option>', {
              value: '',
              text: '-Select Name-'
            }));
            data.forEach(function(name) {
              select.append($('<option>', {
                value: name,
                text: name
              }));
            });
          });
        });
        
        

        $("#certificationInput").on('input', function() {
          var inputVal = $(this).val();
          $.get("/searchCertifications?certification=" + inputVal, function(data) {
            var select = $('select[name="certification"]');
            select.empty();
            select.append($('<option>', {
              value: '',
              text: '-Select Certification-'
            }));
            data.forEach(function(certification) {
              select.append($('<option>', {
                value: certification,
                text: certification
              }));
            });
          });
        });
    
        $(document).ready(function() {
          $('#add-record-btn').click(function() {
            $('.add-record-form').toggle();
          });
        });
    
        $(document).ready(function() {
          $('.delete-record-btn').click(function() {
            $('.delete-record-form').toggle();
          });
        });
    
        $(document).ready(function() {
          $('.register-user-btn').click(function() {
            $('.register-user-form').toggle();
          });
        });
      });
    </script>
  </head>
  <style>

select[name="name"] {
  max-height: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000000;
}

    .navbar {
      background-color: #eeeded;
      color: #fff;
      padding: 10px;
      width: 100%;
      overflow: hidden;
    }

    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .navbar li {
      display: inline-block;
      margin-right: 10px;
    }

    .navbar a {
      color: #fff;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
      float: left;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a:hover {
      background-color: #fff;
      color: #333;
    }

    body {
      background-color: #ffffff;
    }

    .excel-table {
      width: 100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      font-size: 14px;
      justify-content: center;
      align-items: center;  
    }

    .excel-table td, .excel-table th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    .excel-table th {
      background-color: #7800ce;
      color: white;
      font-weight: bold;
    }

    .excel-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    input[type="submit"], input[type="reset"]  {
      background-color: #7800ce;
      border: none;
      color: white;
      padding: 10px 18px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {
      background-color: #7a1ff3;
    }

    .clickable-cell:hover {
      cursor: pointer;
    }
    /*delete record form styles*/
    .delete-record-form {
      display: none;
      padding: 20px;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
    }
    /*register new user form styles*/
    .register-user-form {
      display: none;
      padding: 20px;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
    }
    /* add record form styles */
    .add-record-form {
      display: none;
      padding: 20px;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
    }

    /* form input styles */
    input[type=text], input[type=date], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

  .delete-record-btn {
    margin-left: 2%;
  }

  .register-user-btn{
    margin-left:2%;
  }

  </style>
  <body> 
    <nav class="navbar">
      <h2 style="color:#000000"><u>IV-EMPLOYEE CERTIFICATIONS</u></h2>
      <button class="navbar-btn add-record-btn" id="add-record-btn">Add Record</button>
      <button class="navbar-btn delete-record-btn">Delete Record</button>
      <button class="navbar-btn register-user-btn">Register a New User</button>
      <br />
      <br />
    </nav>
    <div class="add-record-form-container">
      <form class="add-record-form" action="/add" method="POST">
        <table class="excel-table">
          <tr>
            <th>Name</th>
            <th>Certification</th>
            <th>Planned</th>
            <th>Registered</th>
            <th>Cleared</th>
            <th>Completed</th>
            <th>Comments</th>
            <th>Validity</th>
          </tr>
          <tr>
            <td>
              <select name="name" id="nameInput">
                <option></option>
                <script>
                  $(function() {
                    $("#nameInput").autocomplete({
                      source: function(request, response) {
                        $.ajax({
                          url: "/getNames",
                          data: {
                            term: request.term
                          },
                          success: function(data) {
                            response(data);
                          }
                        });
                      },
                      minLength: 1,
                      autoFocus: true // set autoFocus to false to prevent auto-focusing on first item
                    });
                  });
                </script>
                <script>
                  fetch('/names')
                    .then(res => res.json())
                    .then(names => {
                      names.forEach(name => {
                        const option = document.createElement('option');
                        option.value = name.name;
                        option.textContent = name.name;
                        document.querySelector('select[name="name"]').appendChild(option);
                      });
                    })
                    .catch(err => console.error(err));
                </script>
              </select>
            </td>
            <td>
              <select name="certification" id="certificationInput">
                <option></option>
                <script>
                  $(function() {
                    $("#certificationInput").autocomplete({
                      source: function(request, response) {
                        $.ajax({
                          url: "/getCertifications",
                          data: {
                            term: request.term
                          },
                          success: function(data) {
                            response(data);
                          }
                        });
                      },
                      minLength: 1,
                      autoFocus: true // set autoFocus to false to prevent auto-focusing on first item
                    });
                  });
                </script>
                <script>
                  fetch('/certificationnames')
                    .then(res => res.json())
                    .then(names => {
                      names.forEach(name => {
                        const option = document.createElement('option');
                        option.value = name.certification;
                        option.textContent = name.certification;
                        document.querySelector('select[name="certification"]').appendChild(option);
                      });
                    })
                    .catch(err => console.error(err));
                </script>
              </select>
            </td>
            <td><input type="date" name="planned" /></td>
            <td>
              <select name="registered">
                <option value="">-Select-</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </td>
            <td>
              <select name="cleared">
                <option value="">-Select-</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </td>
            <td><input type="date" name="completed" /></td>
            <td><input type="text" name="comments" /></td>
            <td><input type="date" name="validity" /></td>
          </tr>
        </table>
        <br>
        <input type="submit" value="Add Record" />
        <input type="reset" value="Clear" />
      </form>
    </div>      
    <div class="delete-record-form-container">
      <form class="delete-record-form" action="/delete" method="POST">
        <table class="excel-table">
          <tr>
            <th>Name</th>
            <th>Certification</th>
          </tr>
          <tr>
            <td><input type="text" name="name" /></td>
            <td><input type="text" name="certification" /></td>
          </tr>
        </table>
        <br>
        <input type="submit" value="Delete Records">
      </form>
    </div>    
    <div class="register-user-form-container">
      <form class="register-user-form" method="POST" action="/register">
        <table class="excel-table">
          <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="email" id="email" name="email" autocomplete="off" required="true" placeholder="Enter employee email"></td>
          </tr>
          <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password" placeholder="Enter password" required="true"></td>
          </tr>
        </table>
        <br>
        <input type="submit" value="Register">
    </div>
    <table class="excel-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Certification</th>
          <th>Planned</th>
          <th>Registered</th>
          <th>Cleared</th>
          <th>Completion Date</th>
          <th>Comments</th>
          <th>Validity</th>
        </tr>
      </thead>
      <tbody>
        <% var group = {}; %>
        <% devices.forEach(function(device) {
              if (!group[device.name]) {
                  group[device.name] = [];
              }
              group[device.name].push(device);
           });
           Object.keys(group).forEach(function(name) { %>
           <tr>
              <td rowspan="<%= group[name].length %>"><%= name %></td>
              <% group[name].forEach(function(device, index) { %>
                  <% if (index > 0) { %>
                  <tr>
                  <% } %>
                  <td class="clickable-cell" data-deviceid="<%= device._id %>"><%= device.certification %></td>
                  <td class="clickable-cell" data-deviceid="<%= device._id %>"><% if (device.planned) { %><%= new Date(device.planned).toLocaleDateString() %><% } else { %>-<% } %></td>
                  <td class="clickable-cell" data-deviceid="<%= device._id %>"><%= device.registered %></td>
                  <td class="clickable-cell" data-deviceid="<%= device._id %>"><%= device.cleared %></td>
                  <td class="clickable-cell" data-deviceid="<%= device._id %>"><% if (device.completed) { %><%= new Date(device.completed).toLocaleDateString() %><% } else { %>-<% } %></td>
                  <td class="clickable-cell" data-deviceid="<%= device._id %>"><%= device.comments %></td>
                  <td class="clickable-cell" data-deviceid="<%= device._id %>"><% if (device.validity) { %><%= new Date(device.validity).toLocaleDateString() %><% } else { %>-<% } %></td>
                  <% if (index > 0) { %>
                  </tr>
                  <% } %>
              <% }); %>
           </tr>
        <% }); %>
      </tbody>
    </table>
    
    <script>
      const clickableCells = document.querySelectorAll(".clickable-cell");
      clickableCells.forEach(cell => {
        cell.addEventListener("click", () => {
          const deviceId = cell.getAttribute("data-deviceid");
          window.location.href = `/devices/${deviceId}`;
        });
      });

</script>
   <!--HTML FORM FOR REGISTERING USERS-->
   <!-- <h1><u>Register a new user</u></h1>
   <form method="POST" action="/register">
     <table class="excel-table">
       <tr>
         <td><label for="email">Email:</label></td>
         <td><input type="email" id="email" name="email" autocomplete="off" required="true" placeholder="Enter your email"></td>
       </tr>
       <tr>
         <td><label for="password">Password:</label></td>
         <td><input type="password" id="password" name="password" required="true"></td>
       </tr>
     </table>
     <br>
     <input type="submit" value="Register">
   </form> -->
   
  </body>
</html>
